* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
  box-sizing: border-box;
  --layoutBorder: solid 1px rgb(182, 182, 182);
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
  --headline: rgb(53, 72, 79);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
/*------------------- ARTICLES.JSX ---------------------*/
.article-list {
  padding: 40px;
  border: var(--layoutBorder);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.article-list li {
  border: var(--layoutBorder);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.article-list li h3 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  color: var(--headline);
  margin-bottom: 20px;
}

.article-list li h3 span {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
}

.article-list--article-info {
  margin-top: auto;
}

.article-list--article-info h4 {
  font-weight: 200;
  font-size: 0.8rem;
  background-color: var(--headline);
  color: rgb(237, 237, 237);
  padding: 6px 12px;
  border-radius: 5px;
}

.article-list--article-info--interactions {
  display: flex;
  font-size: 0.9rem;
  margin-top: auto;
  font-size: 0.8rem;
  gap: 10px;
}

.article-list--article-info--interactions p {
  padding: 4px 12px;
  border-radius: 5px;
}

.article-list--article-info--interactions p span {
  font-size: 1rem;
  font-family: "Bebas Neue", cursive;
}

.article-list--article-info--interactions p:first-child {
  background-color: rgb(204, 235, 242);
}

.article-list--article-info--interactions p:last-child {
  background-color: rgb(226, 217, 43);
}

/*------------------- ARTICLE.JSX ---------------------*/
.single-article {
  padding: 40px;
}

.single-article--topic {
  text-transform: capitalize;
}

.single-article h2 {
  font-size: 5rem;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  color: var(--headline);
  margin-top: 20px;
}

.single-article .article-list--article-info--interactions {
  margin: 20px 0;
}

.single-article--body {
  border-top: var(--layoutBorder);
  border-bottom: var(--layoutBorder);
  margin: 20px 0;
  padding: 40px 0;
}

@media (max-width: 900px) {
  /*------------------- ARTICLES.JSX ---------------------*/
  .article-list {
    grid-template-columns: 1fr 1fr;
  }

  /*------------------- ARTICLE.JSX ---------------------*/
  .single-article h2 {
    font-size: 4rem;
  }
}

@media (max-width: 700px) {
  /*------------------- ARTICLES.JSX ---------------------*/
  .article-list {
    grid-template-columns: 1fr;
  }

  /*------------------- ARTICLE.JSX ---------------------*/
  .single-article h2 {
    font-size: 3rem;
  }
}
